.hobbies-header {
  padding: 0 2rem;
}

.hobby-cell {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  max-height: 600px;
}

.hobby-divider {
  height: 3px;
  background-color: black;
  width: 100%;
  margin-top: 2rem;
}

.hobby-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.hobby-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.hobby-info {
  margin-right: 2rem;
}


@media screen and (max-width: 800px) {
  .hobby-cell {
    grid-template-columns: auto;
  }
}

.arrow {
  border: 2px solid rgba(66, 135, 245, 0.5);
  background-color: rgba(66, 135, 245, 0.9);
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.arrow-container .arrow:hover {
  cursor: pointer;
  background-color: rgba(34, 115, 245, 0.9);
}