.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding: 1rem;
    color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}
.navbar-scrolled {
    background-color: black !important;
    transition: padding 0.5s ease-in-out, background-color 0.3s ease-in-out;
    padding: 0.5rem;
}


.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-content nav ul li {
    margin: 0 10px;
}

.nav-content nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-content nav ul li a:hover {
    color: #ffcc00;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .nav-content nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-content nav ul.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}
