
<section class="aboutMeContainer">
    <div class="aboutMeGrid">
        <div class="aboutMeCell1">
            <h1 class="aboutMeTitle">About Me</h1>
            <div class="aboutMeVerticalSeparator"></div>
        </div>

        <div class="aboutMeCell2">
            <h3>Hello There! I'm Charlie,</h3>
            <p> I'm a passionate and dedicated MLH Fellow specializing in Production Engineering. I thrive on solving complex problems, optimizing systems, and ensuring the reliability and scalability of web applications. With a strong foundation in software engineering principles and hands-on experience in deploying and managing production systems, I am committed to delivering high-quality, efficient solutions.</p>
        </div>

    </div>
</section>