<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel="stylesheet" href="./static/styles/navbar.css">
    <link rel="stylesheet" href="./static/styles/workExperience.css">
    <link rel="stylesheet" href="./static/styles/about.css">
    <link rel="stylesheet" href="./static/styles/hobbies.css">
    <link rel="stylesheet" href="./static/styles/education.css">


    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.css">
    <title>{{ title }}</title>
</head>

<body>
    {% include "navbar.html" %}
    <section id="home">
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="./static/img/logo.jpg">
            </div>
            <h1>{{ title }}</h1>
        </div>
    </section>


    {% include "about.html" %}
    {% set aboutMeGreetings = aboutMeGreetings %}
    {% set aboutMeDescription = aboutMeDescription %}

    {% include "work.html" %}
    {% set workExperience = workExperience %}
    {% set numOfJobs = numOfJobs %}

    {% include "hobbies.html" %}

    {% include "education.html" %}

    {% include "visited.html" %}

    <script src="./static/js/glide.js"></script>
</body>
</html>