<header class="nav-bar">
    <div class="nav-content">
        <a href="/">
            <div class="nav-logo">
                <img src="./static/img/logo.svg" />
            </div>
        </a>
        <nav>
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-links">
                <div class="close-button" id="close-button">✕</div>
                <li><a href="#aboutMe">About Me</a></li>
                <li><a href="#workExperience">Work Experience</a></li>
                <li><a href="{{ url_for('hobbies_page') }}">My Hobbies</a></li>
                <li><a href="#education">My Education</a></li>
                <li><a href="#placesVisited">Places Visited</a></li>
                <li><a href="./timeline.html">Timeline</a></li>
            </ul>
        </nav>
    </div>
    <script src="./static/js/navbar.js"></script>
</header>