<div class="timelinePost">

        <div class="timelinePostHeader">
            <div class="postHeaderFirstLine">
                <div class="firstLineLeft">
                    <div class="postImageWrap">
                        <img class="gravatar-image postImage" data-post-id="{{ post.id }}">
                    </div>
                    <div class="timelinePostName">{{ post.name }}</div>
                </div>
                <div class="firstLineRight">
                    <div class="timelinePostDate">{{ post.created_at }}</div>
                </div>
            </div>
            <div class="timelinePostEmail">{{ post.email }}</div>
        </div>
        <div class="timelinePostContent">{{ post.content }}</div>


</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        var postEmail = "{{ post.email }}";
        console.log(postEmail);

        // Hash the email address using SHA-256.
        const hashedEmail = CryptoJS.SHA256(postEmail).toString(CryptoJS.enc.Hex);
        // Construct the Gravatar URL.
        const gravatarUrl = `https://www.gravatar.com/avatar/${hashedEmail}`;
        console.log(gravatarUrl);
        // Set the image source to the Gravatar URL.
        document.querySelector(`.gravatar-image[data-post-id="{{ post.id }}"]`).src = gravatarUrl;
    });
</script>