<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel="stylesheet" href="./static/styles/navbar.css">
    <link rel="stylesheet" href="./static/styles/workExperience.css">
    <link rel="stylesheet" href="./static/styles/about.css">
    <link rel="stylesheet" href="./static/styles/hobbies.css">
    <link rel="stylesheet" href="./static/styles/education.css">
    <link rel="stylesheet" href="./static/styles/visited.css">


    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.css">
    <title>{{ title }}</title>
</head>

<body>
    {% include "navbar_external.html" %}
    <section id="home">
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{ photo }}">
            </div>
            <h1>{{ title }}</h1>
        </div>
    </section>

    <div class="hobbies-header">
      <h1>
        <a href="visited_page.html">
          Places I've Visited
        </a>
      </h1>
    </div>
  

    <div class="visited-all">
      {% for place in placesVisited.places %}
      <li class="visited-li">
        <div class="visited-cell">
          <div class="hobby-info">
            <h2>
              {{ place.title }}
            </h2>
            <p>
              {{ place.description }}
            </p>
          </div>
          <div class="hobby-images">
            <div style="width: 100%"><iframe class="visited-frame" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ place.url | safe }}"><a href="https://www.gps.ie/">gps tracker sport</a></iframe></div>
          </div>
        </div>
      </li>
      {% endfor %}
    </div>

    {% include "footer.html" %}

    <script src="./static/js/glide.js"></script>
</body>
</html>