<div class="workExperienceItem">

    <div>
        {% if job.id % 2 == 0 %}
        <div class="WorkExpItemDescriptionLeft">
            <h3>{{job.title}}</h3>
            <p>{{job.company}}</p>
            <p>{{job.location}}</p>
            <p>{{job.date}}</p>
            <p>{{job.description}}</p>
        </div>
    {% endif %}
    </div>


    <div >
        <img class="WorkExpItemLogo" src="./static/img/MLH_logo.png" alt="Company Logo">
    </div>
    <div>
        {% if job.id % 2 != 0 %}
        <div class="WorkExpItemDescription">
            <h3>{{job.title}}</h3>
            <p>{{job.company}}</p>
            <p>{{job.location}}</p>
            <p>{{job.date}}</p>
            <p>{{job.description}}</p>
        </div>
    {% endif %}
    </div>

</div>
